import { defineConfig } from "vite";
import { svelte } from "@sveltejs/vite-plugin-svelte";
import inertigo from "inertigo-vite";

export default defineConfig(({ isSsrBuild }) => ({
  plugins: [
    svelte(),
    inertigo({
      entryPoint: "./ts/app.ts",
      {{ if .SSR }}ssrEntryPoint: "./ts/ssr.ts",{{ end }}
    }),
  ],
}));
